@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #18181b;
  --foreground: #f4f4f5;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
